body {
    display: flex;
}

.vertical-nav {
    min-height: 100vh;
    width: 350px;
    background-color: #343a40;
}

.vertical-nav .nav-link {
    color: #ffffff;
}

.vertical-nav .nav-link:hover {
    background-color: #495057;
    color: #ffffff;
}

.prueba{
    height: 80vh;
    background-color: aqua;
}

.prueba2{
    height: 500px;
    background-color: rgb(18, 43, 43);
    color: #ffffff;
}
