/* Variables de colores*/
:root {
    --color-first: #212529; /* Navbar */
    --color-second: #FF220C; /* Subrayado */
    --color-third: #E9ECEF;
    --color-fourth: #F8F9FA;
    --color-fifth: #495057;
    --color-sixth: #CED4DA;

    --color-txt-light: #F8F9FA;
    --color-box-shadow: #00000080;
    /* Colores para el modo oscuro */
}

/* GLOBALES */
body {
    display: flex;
}

.cont-title{
    margin-bottom: 10px;
    width: 50px;
    border-bottom: 3px solid var(--color-second);
}

.txt-title{
    font-size: 30px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: visible;
}

.separador{
    color: var(--color-second);
}

.col-arrow-row{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fourth);
}

.cont-arrow{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid var(--color-sixth);
    box-shadow: 0px 0px 10px var(--color-sixth);
    animation: bounceFade 2s infinite;
}

.row-icon{
    font-size: 30px;
    color: var(--color-sixth);
}

/* Navbar Row ---------------------------------------- */
.vertical-nav {
    min-height: 100vh;
    width: 300px;
    background-color: var(--color-first);
    position: fixed;
    transition: transform 0.3s ease; /* Transición suave */
}

.vertical-nav.hidden {
    transform: translateX(-100%); /* Desplaza el navbar fuera de la pantalla */
}


.vertical-nav .nav-link {
    color: var(--color-txt-light);
}

.vertical-nav .nav-link:hover {
    background-color: #FF220C;
    color: var(--color-txt-light);
}

.content {
    margin-left: 300px; /* Coincide con el ancho de la barra lateral */
    transition: margin 0.3s ease;
}

.nav-cont-name-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-img-perfil{
    margin-bottom: 15px;
    height: 115px;
    width: 115px;
    border-radius: 100%;
}

.nav-txt-perfil{
    color: var(--color-txt-light);
    font-size: 24px;
}

.separador-navbar{
    color: var(--color-txt-light);
}

.cont-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 10px;
}

.redes{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes:hover{
    background-color: var(--color-second);
}

.redes-icon{
    font-size: 30px;
    color: var(--color-txt-light);
}

.nav-link.active {
    background-color: var(--color-second);
}

/* Primera Row ---------------------------------------- */

.cont-intro{
    padding: 0 5vw 0 0;
}

.txt-name{
    font-size: 75px;
}

.txt-sub-name{
    font-size: 25px;
}

.col-first-row {
    position: relative;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url(/static/img/code_walp.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-txt-light);
    overflow: hidden;
}

.col-first-row::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 85%, black 100%);
    pointer-events: none; /* Para que no interfiera con el contenido */
    z-index: 1;
}

/* Segunda Row ---------------------------------------- */

.col-second-row{
    padding: 40px 30px;
    background-color: var(--color-fourth);
}

.img-perfil{
    height: 300px;
}

.cont-about-img{
    display: flex;
    flex-direction: row;
}

.cont-about{
    padding-left: 15px;
}

/* Tercera Row ---------------------------------------- */

.col-third-row{
    padding: 40px 30px;
    background-color: var(--color-third);
}

.cont-skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.img-skills{
    height: 35px;
    margin: 12px;
}

.cont-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    width:450px;
    text-decoration: none;
    transition: transform 0.3s ease, margin 0.3s ease;
}

.card:hover{
    transform: scale(1.03);
    margin: 0 15px;
}

.card-img-top{
    height: 250px;
    object-fit: cover;
}

.txt-details{
    color: var(--color-fifth);
    font-size: 14px;
}

.cont-main-auric-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.cont-auric-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.txt-data{
    font-size: 14px;
    color: var(--color-first);
}

.tittle-data{
    margin-left: -10px;
    margin-bottom: -3px;
    color: var(--color-first);
}

/* Footer */

.footer{
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fifth);
    color: var(--color-txt-light);
}

/* Media query para pantallas pequeñas */
@media (max-width: 1200px) {
    .vertical-nav {
        transform: translateX(-100%); /* Oculta el navbar inicialmente */
    }

    .content {
        margin-left: 0; /* Coincide con el ancho de la barra lateral */
    }
}

@keyframes bounceFade {
    0% {
        transform: translateY(-5px);
        opacity: 1;
    }
    50% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(-5px);
        opacity: 1;
    }
}